<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
<h1>Password Generator</h1>

  <form action="{% url 'password' %}">

    <select name="length">
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12" selected="selected">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select> Length Password Generate

    <br>
      <input type="checkbox" name="uppercase"> Uppercase
    <br>
      <input type="checkbox" name="numbers"> Numbers
    <br>
      <input type="checkbox" name="special"> Special Characters
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">

  </form>

    <br>
    <a href="{% url 'about' %}" class="btn btn-primary">About Page</a>
    <br>
</div>
